<footer>
  
  <mat-card class="education">
      <mat-card-content fxLayout="column" fxLayoutAlign="center center">
          <h3 class="mat-h3">University of Toronto, Class of 2017 </h3>
          <h4 class="mat-h4"> Honours Bachelor of Science (HBSc)</h4>
          Computer Science Communication, Information &amp;
          Technology
      </mat-card-content>
      

            <mat-card-content  class="icons" fxLayoutAlign="space-evenly" fxLayout="row">
                <img class="ok" src="../../../assets/images/Github.png">
                <img class="ok" src="../../../assets/images/Google+.png">
                <img class="ok" src="../../../assets/images/Linkedin.png">
                <img class="ok" src="../../../assets/images/Instagram.png">
                <img class="ok" src="../../../assets/images/Snapchat.png">
      
            </mat-card-content>


    </mat-card>
</footer>