<mat-card class="primary-dark-theme">
  <mat-card-header class="header" fxLayoutAlign="center">
    <mat-card-title fxLayoutAlign="center">
      <div class="img-circular">
        <img src="../../../assets/images/fajo.jpg">
      </div>
    </mat-card-title>
    <mat-card-title>
      <h1 class="mat-display-3">Farjad Abbas</h1>
    </mat-card-title>
    <mat-card-subtitle fxLayoutAlign="center">
      <h2 class="mat-h2">Application Developer</h2>
    </mat-card-subtitle>
  </mat-card-header>
</mat-card>