<mat-card fxLayoutAlign="center center" class="primary-dark-theme" fxLayout="column">
    <mat-spinner [diameter]="200" *ngIf="active" [strokeWidth]="8" color="warn" mode="indeterminate"></mat-spinner>  
    
    <mat-card-content>
      <mat-card-header class="header" fxLayoutAlign="center">
        <mat-card-title fxLayoutAlign="center">
          <div class="img-circular">
            
            <img class="dp" src="../../../assets/images/fajo.jpg">

          </div>
        </mat-card-title>
        <mat-card-title >
          <!-- <h2 style="font-family: Pacifico;" class="mat-h1">The name is Abbas,</h2> -->
          <h1 class="mat-display-3">Farjad Abbas</h1>
        </mat-card-title>
        <mat-card-subtitle fxLayoutAlign="end center" fxLayout="column">
          <h2  class="role mat-h2">Application Developer</h2>
          

          <button (click)="btnClick();" class="mat-h2" mat-raised-button color="primary">My Profile in Angular 2</button>
          
        </mat-card-subtitle>
      </mat-card-header>
      
    </mat-card-content>

    </mat-card>

    <mat-card-footer >
        <h3>
        I am a Toronto based Full Stack Developer and Introducing new frameworks & Libraries
        such as Angular 2, AngularJS, react, Material Design & Flex-layout towards clients, 
        backed by Node.js Server, SQL Database and MongoDB. I speak English, Urdu, 
        HTML5, CSS3, Javascript, PHP, Swift, and a bit of French. Exploring new frameworks & Libraries
        will always remain my passion. </h3>
  </mat-card-footer>

    

<div class="bg" fxLayoutAlign="start">
    <mat-spinner [diameter]="80" [strokeWidth]="2" mode="indeterminate"></mat-spinner>  
    
    
</div>
        